<div class="container-fluid">
<div class="row">
  <section class="application-summary col-xs-10">
    <h1>{{thisApp.name}}</h1>
    <hr />
    <p class="apply-notes">Applied for <strong> {{thisApp.position}}</strong><br />on <em>{{thisApp.applied | date:'MM/dd/yyyy'}}</em></p>
  </section>
  <aside class="col-xs-2">
    <i class="fa fa-star-o fa-2x star" *ngIf="!thisApp.isFaved" aria-hidden="true" (click)="fave(thisApp)" ></i>
    <i class="fa fa-star fa-2x star" *ngIf="thisApp.isFaved" aria-hidden="true" (click)="unfave(thisApp)" ></i>
  </aside>
</div>


<div class="row">
  <section class="experience-availability col-xs-4 col-sm-3 col-md-2">
      <h3>Experience</h3>
      <p class="experience experience{{thisApp.experience}}">{{thisApp.experience}}</p>
      <h3>Availability</h3>
      <dl class="availability">
          <dt>Mon</dt>
          <dd><span class="available available{{thisApp.availability.M}}">{{thisApp.availability.M}}</span></dd>
          <dt>Tue</dt>
          <dd><span class="available available{{thisApp.availability.T}}">{{thisApp.availability.T}}</span></dd>
          <dt>Wed</dt>
          <dd><span class="available available{{thisApp.availability.W}}">{{thisApp.availability.W}}</span></dd>
          <dt>Thu</dt>
          <dd><span class="available available{{thisApp.availability.Th}}">{{thisApp.availability.Th}}</span></dd>
          <dt>Fri</dt>
          <dd><span class="available available{{thisApp.availability.F}}">{{thisApp.availability.F}}</span></dd>
          <dt>Sat</dt>
          <dd><span class="available available{{thisApp.availability.S}}">{{thisApp.availability.S}}</span></dd>
          <dt>Sun</dt>
          <dd><span class="available available{{thisApp.availability.Su}}">{{thisApp.availability.Su}}</span></dd>
    </dl>
  </section>
  <section class="qas col-xs-7 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-md-10">
      <h3>Questions</h3>
      <li class="question-answer" *ngFor="let question of thisApp.questions">
          <h4>{{question.text}}</h4>
          <p>{{question.answer}}</p>
      </li>
  </section>
</div>